* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin: 0;
}

#content {
  width: 100%;
  height: 600px;

  background: #fafafa;
  padding-left: 30%;
  padding-top: 10%;
}
#phone1 {
  width: 192px;
  height: 300px;
  float: left;
}
#boxer {
  width: 180px;
  height: 300px;
  float: left;
  background: #ffffff;
  border: 1px solid;
  border-color: #dbdbdb;
  padding-left: 26px;
  padding-top: 40px;
  padding-right: 3%;
}

#forgot {
  margin-left: 25%;
  font-size: smaller;
}
#kj {
  background: #b2dffc;
  color: white;
  border: white;
}

#fb {
  margin-left: %;
  color: #645585;
}
#logo {
  float: left;
}
